:root{
    --primary-color: #f7f7f7;
    --secondary-color: #212121;

}
.dark-theme{
    --primary-color: #000106;
    --secondary-color: #fff;
}
.par{
    color: var(--secondary-color);
    font-size: 20px;
    line-height: 30px;
}
.about-con{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    width: 70%;
    padding: 20px 0 20px 0;
}
.aboutTItle{
    font-family: 'century';
    width: 72%;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 50px;
    text-align: center;
    margin: auto;
    display: absolute;
    position: relative;
    color: #f37028;

}
.img1{
    display: block;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0), 0 3px 10px 0 rgba(0, 0, 0);
}
