body {
    margin: 0;
    font-family: "Poppins";
    background: #111111;
    color: white;

}
.footer-bar{
    line-height: 12px;
    margin-top: 5%;
    width: 100%;
    bottom: 0;
    background-color:rgb(232, 154, 9);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    padding: 20px 0 0;
    color: black;
    letter-spacing: 1px;
}
.footer-bar-con{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}
.footer-col{
    flex-basis: 25%;
}
.footer-col h3{
    width: fit-content;
    margin-bottom:  30px;
    position: relative;
}
p{
    font-size: 15px;
}
.follow-us{
    font-size: 15px;
    text-decoration: none;
    color: black;
}
.follow-us:hover{
    transition: 0.2s;
    color: rgba(255, 255, 255, 0.588);
}