body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
}
:root{
    --primary-color: #f7f7f7;
    --secondary-color: #212121;
    --ordernav-color: #d1d1d1;
}
.banner-img{
    position: relative;
}

.banner-img{
    display: flex;
    width: 100%;
    height: 47vw;
    object-fit: cover;
    filter: brightness(60%) blur(2px);
    margin-bottom: 25px;
}
.about-us-img {
    object-fit: contain;
    min-width:0;
    width: 100%;
}
.flex{
    background-color: rgb(255, 170, 0);
    display:flex;
}
.even {
    font-size: 25px;S
    letter-spacing: 3px;
    line-height: 40px;
    font: sans-serif;
    color: rgb(255, 255, 255);
    flex-basis: 100%;
    margin-left: 2%;
}

