*{
    box-sizing: border-box;
}
body{
    height: 700px;
    background-color: var(--primary-color);
}
:root{
    --primary-color: #f7f7f7;
    --secondary-color: #212121;
    --ordernav-color: #d1d1d1;
}
aside{
    width: 30%;
    height: auto;
    float: left;
    display: block;
}
section{
    border: 1px solid var(--ordernav-color);
    padding: 20px 10px 10px 10px;
    box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, .05), -4px -4px 6px 0 hsla(0, 0%, 100%, .3);
    border-radius: 5px;
    margin-bottom: 20px;
    width: 68%;
    float: left;
    height: auto;
    overflow: auto;
}
.selection{
    margin-bottom: 8px;
    width: 173px;
    height: auto;
    float: right;
}
.label{
    color: var(--secondary-color);
    margin-bottom: 9.5px;
}
.box{
    margin-left: 10px;
    padding: 10px;
}
.Orlabel{
    font-size: 16px;
}
.checkout{
    width: 70%;
    padding: 15px;
    cursor: pointer;
    background-color: #f37028;
    font-weight: 600;
    font-size: 18px;
    border: none;
    color: var(--secondary-color);
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-family: "arial";
}
.checkout:hover{
    opacity: 0.5;
}

.group-label-option-button {
    display: flex;
    flex-direction: column;
}
.group-label-option {
    display: flex;
    justify-content: space-evenly;
}