*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";

}

.container{
    min-height: 100vh;
    width: 100%;
    background-color: black

}

.service-wrapper{
    padding: 5% 8%;
}

.service{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: #f37028;
    font-size: 5rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: transparent;
    letter-spacing: 4px;
    background-color: rgb(4, 52, 83);
    background: linear-gradient(8deg, rgba(8,52,83,1) 0%,rgb(255,255,255) 41%,rgba(41,17,45,1)100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}
h1:after{
    content: "";
    position: absolute;
    top: 100%;
    left: 10%;
    height: 8px;
    width: 80%;
    border-radius: 8px;
    background-color: rgba(243,112,40,0.7);
}

h1 span{
    position: absolute;
    top: 100%;
    left: 10%;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: white ;
    z-index: 1000;
    animation: anim 2s linear infinite;
}

@keyframes anim {
    95%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        left: 88%;
    }
    
}
.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 80px;
}

.card{
    height: 330px;
    width: 370px;
    background-color: black;
    padding: 3% 8%;
    border: 0.2px solid rgba(244, 247, 245, 0.2);
    border-radius: 8px;
    transition: .6s;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.card:hover:after{
    width: 225%;
    top: -100%;
}
.card i{
    color: #f37028;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 3.8rem;
}
.card h2{
    color: white;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}
.card p{
    text-align: left;
    width: 100%;
    margin: 12px 0;
    color: rgb(255, 255, 255, 0.6);
}
.card:hover{
    background-color: transparent;
    transform: translateY(-10px);
    border-color: #093f89;
}
.card:hover i{
    color: #f37028;
}

@media screen and (max-width:1500px){
    .cards{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width:900px){
    .cards{
        grid-template-columns: repeat(1,1fr);
    }
    h1{
        font-size: 3.5rem;
    }
}
